In [1]:
import numpy as np

  # Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
titanic=pd.read_csv('../input/titanic-dataset/Titanic.csv')

In [3]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             30
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          125
Embarked         1
dtype: int64

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic = titanic.drop(columns=['Ticket','PassengerId','Cabin','Fare'])

In [6]:
titanic['Sex'] = titanic['Sex'].map({'male':0, 'female':1})
titanic['Embarked'] = titanic['Embarked'].map({'C':0, 'Q':1, 'S':2})

In [7]:
titanic['Embarked'] = titanic['Embarked'].fillna(2)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  156 non-null    int64
 1   Pclass    156 non-null    int64
 2   Name      156 non-null    object
 3   Sex       156 non-null    int64
 4   Age       126 non-null    float64
 5   SibSp     156 non-null    int64
 6   Parch     156 non-null    int64
 7   Embarked  156 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 9.9+ KB

In [8]:
titanic['Age']=titanic['Age'].fillna(titanic['Age'].median)

In [9]:
titanic.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [10]:
titanic = titanic.drop(columns=['Name','Age'])

In [11]:
titanic.head()

   Survived  Pclass  Sex  SibSp  Parch  Embarked
0         0       3    0      1      0       2.0
1         1       1    1      1      0       0.0
2         1       3    1      0      0       2.0
3         1       1    1      1      0       2.0
4         0       3    0      0      0       2.0

In [12]:
x5=titanic.iloc[:,1:6]
y5=titanic.iloc[:,[0]]

In [13]:
x5_train,x5_test,y5_train,y5_test=train_test_split(x5,y5,test_size=0.25,random_state=0)

In [14]:
# import the class
from sklearn.linear_model import LogisticRegression

In [15]:
# instantiate the model (using the default parameters)
logreg=LogisticRegression()

In [16]:
# fit the model with data
logreg.fit(x5_train,y5_train)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [17]:
#for printing the probability
y5_pred=logreg.predict_proba([[3,0,0,0,2.0]])
print(y5_pred)


y5_pred=logreg.predict(x5_test)
y5_pred2=logreg.predict(x5_train)




cnf_matrix = metrics.confusion_matrix(y5_test, y5_pred)
cnf_matrix
cnf_matrix2 = metrics.confusion_matrix(y5_train, y5_pred2)
cnf_matrix2

print("Accuracy:",metrics.accuracy_score(y5_test, y5_pred))
print("Precision:",metrics.precision_score(y5_test, y5_pred))
print("Recall:",metrics.recall_score(y5_test, y5_pred))
print("Accuracy:",metrics.accuracy_score(y5_train, y5_pred2))
print("Precision:",metrics.precision_score(y5_train, y5_pred2))
print("Recall:",metrics.recall_score(y5_train, y5_pred2))

[[0.83937952 0.16062048]]
Accuracy: 0.8205128205128205
Precision: 0.6
Recall: 0.6666666666666666
Accuracy: 0.811965811965812
Precision: 0.7804878048780488
Recall: 0.7111111111111111