In [1]:
import pandas as pd
import numpy as np
titanic=pd.read_csv('../input/titanic/Titanic.csv')

In [2]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic=titanic.drop(columns=['PassengerId','Name','Ticket','Cabin'])

In [4]:
titanic['Sex'] = titanic['Sex'].map({'male':0, 'female':1})
titanic['Embarked'] = titanic['Embarked'].map({'C':0, 'Q':1, 'S':2})

In [5]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       2.0
1         1       1    1  38.0      1      0  71.2833       0.0
2         1       3    1  26.0      0      0   7.9250       2.0
3         1       1    1  35.0      1      0  53.1000       2.0
4         0       3    0  35.0      0      0   8.0500       2.0

In [6]:
titanic.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         30
SibSp        0
Parch        0
Fare         0
Embarked     1
dtype: int64

In [7]:
titanic['Embarked'] = titanic['Embarked'].fillna(2)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  156 non-null    int64
 1   Pclass    156 non-null    int64
 2   Sex       156 non-null    int64
 3   Age       126 non-null    float64
 4   SibSp     156 non-null    int64
 5   Parch     156 non-null    int64
 6   Fare      156 non-null    float64
 7   Embarked  156 non-null    float64
dtypes: float64(3), int64(5)
memory usage: 9.9 KB

In [8]:
titanic['Age']=titanic['Age'].fillna(titanic['Age'].median)

In [9]:
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [10]:
titanic=titanic.drop(columns=['Age'])

In [11]:
x2=titanic.iloc[:,1:7]
label2=titanic.iloc[:,0]
print(x2)
print(label2)

     Pclass  Sex  SibSp  Parch     Fare  Embarked
0         3    0      1      0   7.2500       2.0
1         1    1      1      0  71.2833       0.0
2         3    1      0      0   7.9250       2.0
3         1    1      1      0  53.1000       2.0
4         3    0      0      0   8.0500       2.0
..      ...  ...    ...    ...      ...       ...
151       1    1      1      0  66.6000       2.0
152       3    0      0      0   8.0500       2.0
153       3    0      0      2  14.5000       2.0
154       3    0      0      0   7.3125       2.0
155       1    0      0      1  61.3792       0.0

[156 rows x 6 columns]
0      0
1      1
2      1
3      1
4      0
      ..
151    1
152    0
153    0
154    0
155    0
Name: Survived, Length: 156, dtype: int64

In [12]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(x2,label2)

GaussianNB()

In [13]:
#Predict Output
predicted= model.predict([[3,0,1,0,7.2500,2.0]]) 
print("Predicted Value:", predicted)

Predicted Value: [0]